.ds-card-container {
  display: grid;
  width: 100%;
  gap: var(--ds-space-sm);
}

.ds-card-container--gap-sm {
  gap: var(--ds-space-sm);
}
.ds-card-container--gap-md {
  gap: var(--ds-space-md);
}
.ds-card-container--gap-lg {
  gap: var(--ds-space-lg);
}
