.ds-form {
  display: flex;
  flex-direction: column;
}

.ds-form--gap-xs {
  gap: var(--ds-space-xxs);
}
.ds-form--gap-sm {
  gap: var(--ds-space-xs);
}
.ds-form--gap-md {
  gap: var(--ds-space-sm);
}
.ds-form--gap-lg {
  gap: var(--ds-space-md);
}
