.ds-grid {
  display: grid;
  width: 100%;
}

.ds-grid--gap-none {
  gap: 0;
}
.ds-grid--gap-xs {
  gap: var(--ds-space-xxs);
}
.ds-grid--gap-sm {
  gap: var(--ds-space-xs);
}
.ds-grid--gap-md {
  gap: var(--ds-space-sm);
}
.ds-grid--gap-lg {
  gap: var(--ds-space-md);
}

.ds-grid--rowgap-xs {
  row-gap: var(--ds-space-xxs);
}
.ds-grid--rowgap-sm {
  row-gap: var(--ds-space-xs);
}
.ds-grid--rowgap-md {
  row-gap: var(--ds-space-sm);
}
.ds-grid--rowgap-lg {
  row-gap: var(--ds-space-md);
}

.ds-grid--colgap-xs {
  column-gap: var(--ds-space-xxs);
}
.ds-grid--colgap-sm {
  column-gap: var(--ds-space-xs);
}
.ds-grid--colgap-md {
  column-gap: var(--ds-space-sm);
}
.ds-grid--colgap-lg {
  column-gap: var(--ds-space-md);
}
