.ds-card__header,
.ds-card__body,
.ds-card__footer {
  padding: var(--ds-space-sm) var(--ds-space-md);
}

.ds-card--separated .ds-card__header + .ds-card__body,
.ds-card--separated .ds-card__body + .ds-card__footer {
  border-top: 1px solid var(--ds-color-border);
}
