.ui-form-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  width: 100%;
}

.ui-form-field__label {
  font-size: var(--font-small-size);
  font-weight: 600;
  color: var(--color-text);
}

.ui-form-field__control {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}

.ui-form-field__control--error {
  color: var(--color-sem-negative-text);
}

.ui-form-field__helper {
  font-size: var(--font-small-size);
  color: var(--color-text-muted);
}

.ui-form-field__helper--error {
  color: var(--color-sem-negative-text);
}
